.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
  background: linear-gradient(#276B8E,  #809bce);
  margin-top: 80px;
  box-sizing: border-box;
  border-radius: 25px;
}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #262626;
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #262626;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-align: left;
  max-width: 600px;
  padding: 0 10px;
}

.footer p {
  font-family: 'Open Sans', sans-serif;
  color: #262626;
  font-size: 0.8em;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
