<!--Imports that allow the use of icons in html-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<footer class="footer-main bg-dark">
  <div class="container">
    <div class="row footer-section">
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="footer-box clearfix">
          <div class="footer-icon-container">
            <i class="fa-solid fa-location-dot fa-2xl"></i>
          </div>
          <div class="footer-content">
            <h5>Address</h5>
            <ul>
              <li>The University of Memphis</li>
              <li>Department of Chemistry</li>
              <li>419 Smith Chemistry Bldg</li>
              <li>Memphis, TN 38152</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="footer-box clearfix">
          <div class="footer-icon-container">
            <i class="fa-solid fa-phone fa-2xl"></i>
          </div>
          <div class="footer-content">
            <h5>Phone</h5>
            <p>
              Phone: +1 (901)678-2629<br />
              Fax: +1 (901)678-3447
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="footer-box clearfix">
          <div class="footer-icon-container">
            <i class="fa-solid fa-envelope fa-2xl"></i>
          </div>
          <div class="footer-content">
            <img>
            <h5>Email</h5>
            <p><a href="mailto: ywang@memphis.edu">ywang@memphis.edu</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-center text-white">
    © 2023 All Rights Reserved.
  </div>
</footer>