<footer class="footer-main bg-dark">
  <div class="container">
    <div class="row footer-section">
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="footer-box clearfix">
          <div class="footer-icon-container">
            <!-- <img src="Img/footer-icon-01.png" alt="" /> -->
          </div>
          <div class="footer-content">
            <h5>Address</h5>
            <ul>
              <li>The University of Memphis</li>
              <li>Department of Chemistry</li>
              <li>419 Smith Chemistry Bldg</li>
              <li>Memphis, TN 38152</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="footer-box clearfix">
          <div class="footer-icon-container">
            <!--            <img src="Img/footer-icon-02.png" alt=""/>-->
          </div>
          <div class="footer-content">
            <h5>Phone</h5>
            <p>
              Phone: +1 (901)678-2629<br />
              Fax: +1 (901)678-3447
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="footer-box clearfix">
          <div class="footer-icon-container">
            <img src="" alt="" />
          </div>
          <div class="footer-content">
            <h5>Email</h5>
            <p><a href="mailto: ywang@memphis.edu">ywang@memphis.edu</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-center text-white">
    © 2023 All Rights Reserved.
  </div>
</footer>