<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <!--Imports that allow the use of icons in html-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>

    <!--A bootstrap error message will be shown to user if credentials are invalid-->
    <div class="error-message">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
    </div>

    <!--Success message when user successfully signs in.-->
    <div class="success-message">
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{successMessage}}
        </div>
    </div>

    <!--Main div tag for the form page-->
    <div class="sign-in-div">
        <h3>Sign In</h3>
        <hr style="height: 0.75px; background-color: rgb(0, 81, 255, 0.863);">

        <form class="sign-in-form" [formGroup]="signInGroup" (ngSubmit)="onSubmit()">
            <div class="container">
                <div id="email-icon">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                </div>

                <!--Input box for email-->
                <input type="text" placeholder="Email" formControlName="email" id="input-email-user" name="email"
                    [(ngModel)]="userEmail">

                <div id="password-icon">
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>

                <!--Input box for password, validation is used to check if email and password is matching-->
                <input type="password" placeholder="Password" formControlName="password" id="input-password-user"
                    name="password" [(ngModel)]="userPassword">
                <div *ngIf="showErrorMessage && !authService.isAuthenticated && signInGroup.valid">
                    Email and Password must be matching!
                </div>
                <hr>

                <!--Link to reset password-->
                <a class="forgot-password-link" routerLink="/password_reset">Forgot Password?</a>

                <!--Continue button will log the user in, the following function below will be executed to do so-->
                <div>
                    <input type="button" value="Continue" class="sign-in-button"
                        (click)="authService.SignIn(userEmail, userPassword)" [disabled]="!signInGroup.valid">
                </div>

                <!--Adds a horizontal bar-->
                <div class="hr-container">
                    <hr>
                    <span class="hr-text">Or</span>
                </div>

                <!-- Calling GoogleAuth Api from AuthService -->
                <div class="google-sign-in">
                    <button type="button" style="color: black;" class="btn googleBtn"
                        (click)="authService.GoogleAuth()">
                        <i class="fab fa-google-plus-g"></i>
                        Continue with Google
                    </button>
                </div>

                <!--Link to the sign up page-->
                <div class="create-acc-link">
                    <p>Don't have an account?<a routerLink="/sign_up"> Create an account</a></p>
                </div>

                <!--Below code will add a button that once clicked on will take you back to the previous page-->
                <!-- <input style="position: relative; left: 190px;" type="button" value="Go Back" onclick="history.back()"> -->

            </div>
        </form>
    </div>
</body>

</html>