<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>

    <!--A bootstrap error message will be shown to user if credentials are invalid-->
    <div class="error-message">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
    </div>



    <div class="sign-in-div">

        <h3>Sign In</h3>
        <hr style="height: 0.75px; background-color: rgb(0, 81, 255, 0.863);">

        <!-- <div class="person-icon">
            <span class="material-symbols-outlined" style="font-size: 60px; color:black">person</span>
        </div> -->

        <form class="sign-in-form" [formGroup]="signInGroup" (ngSubmit)="onSubmit()">

            <div class="container">

                <div id="email-icon">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                </div>

                <!-- <label class="email" for="email"><b>Email</b></label> -->
                <input type="text" placeholder="Email" formControlName="email" id="input-email-user" name="email"
                    [(ngModel)]="userEmail">

                <div id="password-icon">
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>

                <!-- <label class="password" for="password"><b>Password</b></label> -->
                <input type="password" placeholder="Password" formControlName="password" id="input-password-user"
                    name="password" [(ngModel)]="userPassword">
                <div *ngIf="showErrorMessage && !authService.isAuthenticated && signInGroup.valid">
                    Email and Password must be matching!
                </div>
                <hr>

                <a class="forgot-password-link" routerLink="/password_reset">Forgot Password?</a>

                <div>
                    <input type="button" value="Continue" class="sign-in-button"
                        (click)="authService.SignIn(userEmail, userPassword)" routerLink="/account"
                        [disabled]="!signInGroup.valid">
                </div>

                <div class="hr-container">
                    <hr>
                    <span class="hr-text">Or</span>
                </div>

                <!-- <a style="position: relative; right: 170px;" routerLink="/passsword_reset">Forgot your password</a> -->

                <!-- <p><b>Forgot your password?</b> <a routerLink="/password_reset">Reset</a></p> -->

                <!-- <p class="check-box">
                    <input type="checkbox" id="remember-user">
                    <label for="remember-user">Remember me</label>
                </p> -->

                <!-- <button style="position: relative; left: 0px;" type="submit">Sign In</button> -->

                <!-- Calling GoogleAuth Api from AuthService -->
                <div class="google-sign-in">
                    <button type="button" style="color: black;" class="btn googleBtn"
                        (click)="authService.GoogleAuth()">
                        <i class="fab fa-google-plus-g"></i>
                        Continue with Google
                    </button>
                </div>


                <div class="create-acc-link">
                    <p>Don't have an account?<a routerLink="/sign_up"> Create an account</a></p>
                </div>

                <!-- <input style="position: relative; left: 190px;"  type="button" value="Go Back" onclick="history.back()"> -->

                <!-- <button style="position: relative; left: 0px;" type="submit" value="Go Back" onclick="history.back()">Go
                    Back</button> -->

            </div>
        </form>
    </div>


</body>

</html>