/*Controls the overall body of the page*/
body {
    background-image: url('src\Images\periodic_table.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/*Container for the whole body*/
.sign-in-div {
    position: relative;
    width: 525px;
    box-shadow: 0 0 3px 0 rgb(4, 2, 5);
    background: 35px;
    border-radius: 10px;
    padding: 25px;
    text-align: left;
    margin: 8% auto 0;
    background-color: rgb(255, 255, 255);
    /* background-color: rgba(255, 255, 255, 0.9); */
    display: block;
    margin-top: 0px;
    top: 200px;
}

/*This also controls the sign in form*/
.sign-in-form {
    margin-bottom: 30px;
}

/*Header at top of sign in box*/
h3 {
    color: rgb(0, 81, 255, 0.863);
    position: relative;
    left: 200px;
}

/*Email input box*/
#input-email-user {
    position: relative;
    width: 350px;
    left: 50px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    /* transition: border-color 0.3s ease-in-out; */
}

/*Additonal styling to the email input box*/
#input-email-user:focus {
    border-bottom: 2px solid rgb(0, 81, 255, 0.863);
}

/*Password input box*/
#input-password-user {
    position: relative;
    width: 350px;
    left: 50px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    /* transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

/*Additional styling to the password input box*/
#input-password-user:focus {
    border-bottom: 2px solid rgb(0, 81, 255, 0.863);
}

/* .person-icon {
    text-align: center;
    color: blue;
} */

/*The email icon next to the email text box*/
#email-icon {
    position: relative;
    top: 20px;
    left: 0px;
    color: rgb(0, 81, 255, 0.863);
}

/*The passowrd icon next to the password text box*/
#password-icon {
    position: relative;
    top: 20px;
    left: 0px;
    color: rgb(0, 81, 255, 0.863);

}

/* .email {
    position: relative;
    right: 225px;
}

.password {
    position: relative;
    right: 210px;
} */

/*Button to continue signing in*/
.sign-in-button {
    position: relative;
    padding: 5px;
    width: 175px;
    left: 135px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgba(0, 81, 255, 0.863);

}

/*Handles the "continue with Google for sign in"*/
.google-sign-in {
    position: relative;
    text-align: center;
    border-radius: 25px;
    border: 1px solid rgb(0, 81, 255, 0.863);
    background-color: white;
}

/*Link for user to change password*/
.forgot-password-link {
    position: relative;
    top: 0px;
    left: 0px;
    color: rgb(0, 81, 255, 0.863);
}

/* Link to create account*/
.create-acc-link {
    color: rgb(2, 2, 155);
    position: relative;
    top: 15px;
    left: 50px;
}

/*Controls the horizontal bar and the display of it*/
.hr-container {
    text-align: center;
    position: relative;
}

.hr-text {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 10px;
}
