nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0 auto 0;
  padding-top: 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: normal;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-nav .active>.nav-link {
  color: #007bff;
}

.navbar {
  background-color: #202b38;
  transition: background-color 0.3s ease-in-out;
}
