  <div class="polymer-entry-container">
    <h2>Polymer Entry</h2>
    <p>Please enter the required fields *</p>

    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
      <h4>Polymer Data</h4>
      <div class="form-group">
        <label for="Polymer Name">Polymer Name</label>
        <input type="text" formControlName="polymerName" placeholder="Polymer name">

        <div class="input-group">
          <label for="Molar Range">Molar Range</label>
          <input type="number" id="molarMassRange" formControlName="molarHigh">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">kd</span>
          <input type="number" id="molarMassRange" formControlName="molarLow">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">kd</span>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <h4>Mobile Phase Data</h4>
        <label for="Solvent">Solvent(s)</label>
        <div class="input-group">
          <input type="text" placeholder="Solvent list" id="solventList"
          formControlName="solventList">
          <select name="solventType" id="solventType"
          formControlName="solventType">
            <option value="1">wt</option>
            <option value="2">vol</option>
          </select>
        </div>
        <label for="Composition">Composition</label>
        <input type="text" placeholder="Composition">
      </div>
      <hr>
      <div class="form-group">
        <h4>Chromatography Conditions</h4>
        <div class="row">
          <label for="temperature">Temperature</label>
          <input type="number" id="temp" formControlName="temperature">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">&#8451;</span>
        </div>
        <div class="row">
          <label for="pore size">Particle Diameter</label>
          <input type="number" id="particle" formControlName="particle">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">&#xb5;</span>
        </div>
        <div class="row">
          <label for="">Pore Size</label>
          <input type="number" id="pore" formControlName="poreSize">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">&#8491;</span>
        </div>
        <div class="row">
          <label for="">Column Length</label>
          <input type="number" id="col-length" formControlName="columnLength">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">centi</span>
        </div>
        <div class="row">
          <label for="">Column Name</label>
          <input type="text" formControlName="columnName">
        </div>
        <div class="row">
          <label for="">Pressure</label>
          <input type="number" id="pressure" formControlName="pressure">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">atm</span>
        </div>
        <div class="row">
          <label for="">Flow Rate</label>
          <input type="number" id="flow" formControlName="flowRate">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">milli/min</span>
        </div>
        <div class="row">
          <label for="">Injection Volume</label>
          <input type="number" id="inj" formControlName="injVolume">
          <span class="input-group-text" id="basic-addon1" style="margin: 1.2em 0;">&#xb5;</span>
        </div>
        <div class="row">
          <label for="">Detector(s)</label>
          <input type="text" formControlName="detectors">
        </div>
      </div>
      <div class="form-group">
        <h4>Reference</h4>
        <label for="">DOI</label>
        <input type="text" formControlName="DOI">
      </div>
      <button type="select">Continue</button>
    </form>
  </div>

