.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  background-color: #fff;
  border-radius: 2px;
  margin-top: 80px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
  padding: 20px;
  box-sizing: border-box;
}

.polymer-data-title {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.category {
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
}

h1, h3, h4 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #444;
}

.submit-button {
  display: block;
  width: 20%;
  margin: auto;
  padding: 10px;
  color: #fff;
  background-color: #4285f4;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
}


button:hover {
  background-color: #2b7de9;
}

label {
  font-weight: 500;
  color: #444;
  margin-top: 10px;
  display: block;
  width: 140px;
}

.input-group-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 20%;
}

.input-group,
.input-pair {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%; /* This ensures that each pair (label and input) takes up the full width of the form */
  gap: 10px;
  justify-content: space-between; /* This spaces the label and input evenly across the full width */
}

label {
  flex-basis: 16%; /* This sets the initial width of the label before flexing */
  margin-right: 10px;
}

input,
select {
  flex-grow: 1; /* This allows the input to take up the remaining space */
}

.half-width {
  flex-basis: 50%; /* This sets the initial width of the half-width inputs before flexing */
}

.quarter-width {
  flex-basis: 25%; /* This sets the initial width of the quarter-width inputs before flexing */
}

.solvent-type-row {
  display: flex;
  justify-content: space-between; /* Distribute space between the two child divs */
}

.solvent-input-wrapper {
  flex-grow: 1; /* Allow this div to grow and take up available space */
  margin-right: 10px; /* Add some space between the two child divs */
}

.solvent-type-select {
  width: 100px;
}

.solvent-input-wrapper,
.solvent-type-wrapper {
  display: flex;
  align-items: center; /* vertically align the content */
}

.solvent-input-wrapper {
  flex-grow: 1; /* Allows this div to grow and take up available space */
  margin-right: 10px; /* Adds some space between the two child divs */
}

/* Adjust the width of the solvent input and type select to make sure everything fits nicely in one line */
.solvent-input {
  width: 70%;
}
