.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: white;
  margin-top: 80px;
  box-sizing: border-box;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

form {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 20px;
}

input[type="text"], input[type=number], select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #ccc;
  transition: all 0.3s ease;
}

#molar-mass-range{
  width: 25%;
  margin: 0 auto;
}

input[type="text"]:focus, input[type=number]:focus, select:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 10px #3f51b5;
}

input[type=number]{
  width: 25%;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: white;
  background-color: #3f51b5;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #283593;
}

button:disabled {
  background-color: #ccc;
}

.form-text {
  color: white;
  font-size: 0.8em;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  width: 200px;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 0 6px rgba(0,0,0,.1);
  color: #333;
}


.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 200px;
  overflow-y: auto;
}

.sidebar .status-indicator {
  margin-right: 5px;
  font-size: 18px;
}

.sidebar .status-indicator mat-icon {
  font-size: 18px;
}

.sidebar a.complete {
  color: #4caf50;
}

.sidebar a:not(.complete) {
  color: #f44336;
}

.polymer-entry-container{
  text-align: center;
  margin: 0 auto;
}

form{
  margin: 0 auto;
}

.molar-mass-container{
  margin: 0 auto;
  text-align: center;
}

.polymerName-error-message {
  position: absolute;
  font-size: smaller;
  left: 300px;
  margin-top: -30px;

}

h4 {
  color: black;
  text-align: left;
}

hr{
  width: 100%;
}

label{
  color: black;
  text-align: center;
}

#solvent-list {
  width: 80%;
}
#solvent-type {
  width: 15%;
}
span {
  color: black;
  margin-left: 0;;
}

/*Aligning all of these input values. */
#temperature {
  margin-left: 10%;
}

#particle-size {
  margin-left: 4.5%;
}

#pore-size {
  margin-left: 14%;
}

#column-length {
  margin-left: 6.5%;
}

#column-length {
  margin-left: 6.5%;
}

#pressure {
  margin-left: 15%;
}

#flow-rate {
  margin-left: 13.5%;
}

#injection-volume {
  margin-left: 5%;
}

#detectors {
/*  styles here */
}

#doi-link {
/*  */
}
