.sign-up-div {
    width: 675px;
    box-shadow: 0 0 3px 0 rgb(106, 13, 212);
    background: 25px;
    padding: 75px;
    text-align: center;
    margin: 8% auto 0;
    background-color: rgb(255, 255, 255);
    display: block;
    margin-top: 125px;
}

.sign_up-form {
    color: rgb(13, 13, 14);
    margin-bottom: 30px;
}

/* #first_name_sign_up {
    margin-left: 10px;
    border-radius: 7px;
    width: 215px;
} */

/* #last_name_sign_up {
    margin-left: 10px;
    border-radius: 7px;
    width: 215px;
}

#email_sign_up {
    margin-left: 10px;
    border-radius: 7px;
    width: 215px;
}

#password_sign_up {
    margin-left: 10px;
    border-radius: 7px;
    width: 215px;
}

#re-password_sign_up {
    margin-left: 10px;
    border-radius: 7px;
    width: 215px;
} */

/* #submit-sign-up{
    background-color: black;
} */

/*All of the labels for the input boxes of the form*/
.label_first_sign_up {
    position: relative;
    right: 207px;
}

.label_last_sign_up {
    position: relative;
    right: 207px;
}

.label_email_sign_up {
    position: relative;
    right: 227px;
}

.label_password_sign_up {
    position: relative;
    right: 213px;
}

.label_confirm_password_sign_up {
    position: relative;
    right: 178px;
}

#ng-style-firstName {
    color: red;
}

#ng-style-lastName {
    color: red;
}

#ng-style-email {
    color: red;
}

#ng-style-password {
    color: red;
}

#ng-style-confirm-password {
    color: red;
}
