/* You can add global styles to this file, and also import other style files */
body {
    background-color:#202b38;
    /*background-repeat: no-repeat;
    background-size: cover;*/
    padding-top: 70px;
    color:white;
}