 body {
   font-family: Arial, sans-serif;
 }

 #full-account {
   width: auto;

 }

 header {
   background-color: #333;
   color: #fff;
   padding: 1rem;
 }

 h1,
 h2 {
   margin-top: 0;
   text-align: center;
 }

 ul {
   list-style: none;
   padding: 0;
 }

 .user-info li {
   margin-bottom: 0.5rem;
 }

 .bio p {
   margin-top: 0;
   line-height: 1.5;
 }

 /*This controls the main container where everything is structured on*/
 .container {
   display: flex;
   height: 85vh;
   width: auto;
   background-color: #f2f2f2;
 }

 #firstname-box {
   left: 0px;
   width: 1500px;
 }

 #lastname-box {
   left: 100px;
 }

 #email-box {
   left: 0px;
   top: 20px;
 }

 #password-box {
   left: -15px;
   top: 20px;
 }

 .table-container {
   margin-top: 50px;
 }


 .table-wrapper {
   height: calc(100% - 56px);
   /* Adjust the height as needed */
   overflow: auto;
 }

 .mat-table {
   width: 100%;
 }

 .mat-paginator {
   margin-top: 10px;
 }