<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="full-account" class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px">
                    <span class="font-weight-bold">{{firstName + ' ' + lastName}}</span>
                    <span class="text-black-50">{{email}}</span>
                    <form style="display: flex; align-items: center;">
                        <input type="file" name="imageUpload" style="margin-right: 10px;">
                        <input type="submit" value="Upload">
                    </form>
                </div>
                <div class="mt-1 text-center">
                    <button class="btn btn-primary profile-button" type="button">Manage My Entries</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media-body">
                    <h2><strong>Account Overview</strong></h2>
                </div>
                <div class="p-3 py-5">
                    <div class="row mt-2">
                        <div id="firstname-box" class="col-md-6">
                            <label class="labels">First Name</label>
                            <div class="input-group">
                                <input type="text" id="my-test" class="form-control" [placeholder]="firstName" readonly>
                                <button class="btn btn-secondary ml-2" type="button">Edit</button>
                            </div>
                        </div>
                        <div id="lastname-box" class="col-md-6">
                            <label class="labels">Last Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" [placeholder]="lastName" readonly>
                                <button class="btn btn-secondary ml-2" type="button">Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                    </div>
                    <div id="password-box" class="col-md-6">
                        <label class="labels">Password</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="*********" readonly>
                            <button class="btn btn-secondary ml-2" type="button"
                                routerLink="/password_reset">Edit</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="mt-1 text-center">
                        <button class="btn btn-primary profile-button" type="button">Save</button>
                    </div> -->